*{
  margin:0;
  padding:0;
}
body{
  justify-content: center;
  display:flex;
  align-items:center;
  background-color:#f5f7fb;
}
.container{
  margin:30px;
  width:390px;
  
  padding:15px;
  border-radius:20px;
  box-shadow: 0 10px 30px;
}
h2{
  text-align:center;
  margin:10px;

}
.total-balance{
  background-color:#808080;
;
  text-align:center;
  padding:16px;
  border-radius:10px;
  margin-bottom:20px;
}
.row{
  display:flex;
  gap:50px;
  padding:15px;
  margin-bottom:20px;
}
.income,.expense{
  padding:15px;
  background-color:#acacac ;
  text-align:center;

  border-radius:10px;
}

.red{
  color:#860111;

}
.total-expenses{
  padding:10px;
  background-color:#808080;
  text-align:center;
  margin-bottom:12px;
  border-radius:10px;
  color:black;
}
#total{
  color:#860111;
  font-size:35px;
}


.daily{
  background-color: blue;
  border-radius:12px;
  padding:10px;
}
.expenses-categories{
  background:#f9fafc;
  margin-bottom:19px;
  padding:16px;
  
}
h3{
  color:black;
  font-size:19px;
  margin-bottom:20px;
}
.green{
  color:green;
  font-size:20px;
}
.greencolor{
  color:green;
}
.category{
  justify-content:space-between;
  display:flex;
  align-items:center;
  margin-bottom:12px;
  border-radius:50%;
  padding:30px;

}

.transaction{
  margin:15px;
  flex-direction:column;
  gap:10px;
}
button{
  padding:12px;
  font-size:19px;
  color:white;
  background-color:#191970;
  border-radius:15px;
  cursor:pointer;

  width:100%;
}

.done{
  justify-content:space-between;
  display:flex;
  align-items:center;
  margin-bottom:12px;
}











